     .flex-container {
     display: grid;
     grid-gap: 18%;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(1, 300px);
     width: 90%;
     height: 450px;
     padding-left: 10%;
     padding-top: 40px;
     }

     .panneau-web {
       display: flex;
       flex-direction: column;
       height: 100%;
       text-decoration: none;
     }

     .panneau-web:hover{
       background: rgb(0, 165, 146);
       color: white;
     }

     .panneau-web a{
       color: inherit;
       text-decoration: none;
     }

     .panneau-graphique{
       display: flex;
       flex-direction: column;
       height: 100%;
       text-decoration: none;
     }

     .panneau-graphique:hover{
       background: rgb(245, 176, 0);
       color: white;
     }

     .panneau-graphique a{
         color: inherit;
         text-decoration: none;
     }

     .panneau-community {
       display: flex;
       flex-direction: column;
       height: 100%;
       text-decoration: none;
     }

     .panneau-community:hover{
       background: rgb(252, 236, 180);
       color: white;
     }

     .panneau-community a{
         color: inherit;
         text-decoration: none;
     }

     a {
        color: inherit;
        text-decoration: none;
     }

     nav {
       width: 50%;
       display : flex;
       justify-content: right;
       margin-left: auto;
       top: 0px;
     }

     nav ul {
       list-style-type: none;
     }

     nav ul li {
       float: left;
       min-width: 150px;
       text-align: center;
       position: relative;
     }

     nav ul::after {
       content: "";
       display: table;
       clear: both;
     }

     nav a {
       display: block;
     }

     nav a:hover {
       color: inherit;
     }

     .sousmenu {
       display: none;
     }

     .sousmenu li {
       float: none;
       width: 200px;
       text-align: left;

     }

     nav > ul li:hover .sousmenu {
       display: block;
     }

     .sousmenu a:hover {
       color: rgb(245, 176, 0);
     }

     .sousmenu {
       display: none;
       position: absolute;
       width: 100%;
       left: 5px;
       z-index: 1000;
     }

     #fleche{
      width: 100%;
      height: auto;


     }#flecheSeule{
      width: 50px;
      height: 50px;
      margin-right: 5px;


     }

     .contact{
       text-align: center;

     }
     #div-contact {
     display: flex;
     align-items: center;
     height: 600px;
     width: auto;
     background-color: ;
     border: solid;
     border-color: rgb(0, 164, 145);
     margin-left: 6%;
     margin-right: 5%;
     padding-left: 7%;
     padding-right: 10px;

     }
     .maps{margin-left: -130px}

      .desQuestion{
      text-align: center;
      }
     .contact-texte{
       margin-left: -200px;
       width: auto;
       text-align: center;
     }
     .pointer{
       margin-right: 10px;
     }
    .icon-tel{
      width: 24px;
      height: 24px;
      margin-right: 10px;
      text-align: left;
    }
    .icon-mail{
      width: 24px;
      height: 24px;
      margin-right: 9px;
      text-align: left;
    }
     .horraire-semaine{
       text-align: center;
     }
     .horaires{
       color: rgb(245, 176, 0);
       text-align: center;
     }
     #formulaire-contact{
       min-width: 500px;
       /*height: 200px;*/
       margin-left: -50px;
       padding-right: 50px;
       align-items: right;

     }
     .form-control{margin: 10px;
        border: 1px solid rgb(0, 165, 146);
        margin-block-start: auto;
        align-items: right;
     }
     #btn-envoi{margin-top: 10px;
       margin-left: 10px;
           --bs-btn-bg: rgb(0,165, 146);
           --bs-btn-border-color: rgb(0,165, 146);
     }
     #div-footer {
     display: flex;
     align-items: center; /* Utilisez d’autres valeurs pour voir le résultat */
     width: 90%;
     height: 300px;
     background-color: ;
     margin-left: 50px;
     }

    #logo-footer{
    width: 150px;
    height: 100px;
    }

    #contact-footer{
    margin-left: 125px;
    }
     .titres {
       text-align: center;
       color: rgb(0, 165, 146);
     }

     .bouton-contact{
       display: flex;
       align-items: center;
       justify-content: center;
       border: 2px;
       height: 200px;
     }

     a.button {
       color : black;
       padding : 10px 40px;
       font-size: 20px;
       background: white;
       border-style: ridge;
       border-width: 1px;
       border-color: black;
       border-radius: 50px;
     }

     a.button:hover{
       color : rgb(245, 176, 0);
       border-color: rgb(245, 176, 0);
     }

     img {
       max-width: 100%;
       height: auto;
     }

     .title-pannel{
       display: flex;
       height: 30%;
       justify-content: center;
       align-items: center;
     }

     .text-pannel{
       display: flex;
       justify-content: center;
       align-items: center;
       height: 20%;
     }

     .logo-pannel{
       display: flex;
       height: 50%;
       justify-content: center;
       align-items: end;
       padding-bottom: 15px;
     }

     #fleche-pannel{
        width: 75px;
        height: 75px;
     }
